@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

$sans-serif-font: Arial, Helvetica, sans-serif;
$serif-font: 'Lora', serif;
$gap: 15px;
$block-padding: 25px;

$color-0: #000000;
$color-1: #5E5E5E;
$color-2: #bbbbbb;
$color-3: #ffffff;
$color-4: #E93A37;
$color-5: #273A86;
$color-6: #FCD91F;

@mixin padding() {
    padding: $block-padding;
}

* {
    box-sizing: border-box;
}

html {
    background-color: $color-0;
    font-size: 1.4em;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    gap: $gap; 
    max-width: 100%;
    line-height: 1.5em;
    h1 {
        line-height: 1.2em;
    }
    h2 {
        line-height: 1.3em;
        font-family: $sans-serif-font;
    }
    h3 {
        font-size: 1.4em;
        margin-bottom: 0.4em;
        font-family: $sans-serif-font;
    }
    a {
        color: #ffffff;
    }
}

.intro {
    color: #000;
    display: flex;
    min-width: 25%;
    flex-direction: column;
    gap: $gap;
    header {
        display: flex;
        flex-direction: column;
        gap: $gap;
        h1 {
            @include padding();
            display: flex;
            font-size: 3.2em;
            background-color: $color-4;
        }
        h2 {
            @include padding();
            display: flex;
            font-size: 1.5em;
            flex-direction: column;
            background-color: $color-3;
        }
    }
    .summary {
        @include padding();
        display: flex;
        flex-direction: column;
        background-color: $color-2;
    }
    .preamble {
        @include padding();
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: $color-0;
        color: $color-3;
    }
}

.main {
    color: $color-0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: $gap;
    .explanation {
        @include padding();
        background-color: $color-3;
    }
    .participation {
        @include padding();
        background-color: $color-3;
        a {
            color: #000000;
        }
    }
    .benefits {
        @include padding();
        background-color: $color-6;
    }
    .requirements {
        @include padding();
        display: flex;
        flex-direction: column;
        background-color: $color-3;
        a {
            color: #000000;
        }
    }
    footer {
        @include padding();
        width: 100%;
        background-color: #bbbbbb;
        display: flex;
        justify-content: space-evenly;
    }
}

.sidebar .wrapper {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: $gap;
    .design-selection {
        @include padding();
        display: flex;
        flex-direction: column;
        background-color: $color-0;
        color: $color-3;
    }
    .design-archives {
        @include padding();
        display: flex;
        flex-direction: column;
        color: $color-3;
        background-color: $color-5;
        height: 200px;
    }
    .zen-resources {
        @include padding();
        display: flex;
        flex-direction: column;
        background-color: $color-2;
    }
}