@import 'colors';

@mixin padding() {
    padding: $block-padding;
}

@mixin linx($color) {
    a {
        color: $color;
        display: inline-block;
        border-bottom: 2px solid $color;
        padding: 0;

        &:visited {
            color: $color;
        }

        &:hover {
            color: $color;
        }

        &:active {
            color: $color;
        }
    }
}

@mixin colorChange($name, $randNum, $color1, $color2, $color3) {
    animation: $name $randNum+s infinite alternate;

    @keyframes #{$name} {
        0% {
            background-color: $color1;
        }

        50% {
            background-color: $color2;
        }

        100% {
            background-color: $color3;
        }
    }
}

@mixin MQ($canvas) {
    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }

    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }

    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}