/*! Color Zen Garden */
/* By Lewis, Megan, and Theran */

@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@import 'partials/typography'; 
@import 'partials/colors';
@import 'partials/variables'; 
@import 'partials/mixins';

* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: $color-0;
    font-size: 1.4em;
    font-family: $serif-font;
}

nav {
    ul {
        li {
            @include linx($link-dark);
        }
    }
}

abbr {
    display: inline-block;
    font-style: italic;
}

body {
    background: linear-gradient(-45deg, #000, #555, #000, #555, #000, #555, #000, #98d4ef);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap;
    max-width: 100%;
    line-height: 1.5em;

    h1 {
        line-height: 1.2em;
    }

    h2 {
        line-height: 1.3em;
        font-family: $sans-serif-font;
    }

    h3 {
        font-size: 1.4em;
        margin-bottom: 0.4em;
        font-family: $sans-serif-font;
    }

    a {
        @include linx($link-dark);
    }
    @include MQ(M) {
        flex-direction: row;
    };
}

.intro {
    color: $color-0;
    display: flex;
    min-width: 25%;
    width: 100%;
    flex-direction: column;
    gap: $gap;

    header {
        display: flex;
        flex-direction: row;
        gap: $gap;

        h1 {
            @include padding();
            display: flex;
            font-size: 3.2em;
            background-color: $color-0;
            color: $color-1;
        }

        h2 {
            @include padding();
            @include colorChange(subheading, random($limit: 5)*$multiple, $color-2-1, $color-2-2, $color-2-3);
            display: flex;
            font-size: 1.5em;
            flex-direction: column;
        }
        @include MQ(M) {
            flex-direction: column;
        };
    }

    .summary {
        @include padding();
        @include linx($link-dark);
        @include colorChange(summary, random($limit: 5)*$multiple, $color-3-1 ,$color-3-2, $color-3-3);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .preamble {
        @include padding();
        @include colorChange(preamble, random($limit: 5)*$multiple, $color-4-1, $color-4-2, $color-4-3);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: $color-0;
    }
}

.main {
    color: $color-0;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    gap: $gap;

    .explanation {
        @include padding();
        @include colorChange(explanation, random($limit: 5)*$multiple, $color-1-1, $color-1-2, $color-1-3);
    }

    .participation {
        @include padding();
        @include colorChange(participation, random($limit: 5)*$multiple, $color-2-1, $color-2-2, $color-2-3);
        @include linx($link-dark);
    }

    .benefits {
        @include padding();
        @include colorChange(explanation, random($limit: 5)*$multiple, $color-1-1, $color-1-2, $color-1-3);
    }

    .requirements {
        @include padding();
        @include colorChange(requirements, random($limit: 5)*$multiple, $color-4-1, $color-4-2, $color-4-3);
        display: flex;
        flex-direction: column;
        @include linx($link-dark);
    }

    footer {
        @include padding();
        width: 100%;
        background-color: $color-0;
        display: flex;
        justify-content: space-evenly;

        a {
            color: $color-1;
            font-weight: 500;
        }
    }
}

.sidebar .wrapper {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: $gap;

    .design-selection {
        @include colorChange(design-selection, random($limit: 5)*$multiple, $color-1-1, $color-1-2, $color-1-3);
        @include padding();
        display: flex;
        flex-direction: column;
        color: $color-0;
    }

    .design-archives {
        @include colorChange(summary, random($limit: 5)*$multiple, $color-3-1 ,$color-3-2, $color-3-3);
        @include padding();
        display: flex;
        flex-direction: column;
        color: $color-0;
        height: 200px;
        
        // border: 2px solid $color-0;
        // border-radius: 0 1em;
    }

    .zen-resources {
        @include colorChange(zen-resources, random($limit: 5)*$multiple, $color-3-1, $color-3-2, $color-3-3);
        @include padding();
        display: flex;
        flex-direction: column;
        ul {
            li {
                @include linx($link-dark);
            }
        }
    }
}

.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(50px);
  }