/*! Color Zen Garden */
/* By Lewis, Megan, and Theran */
@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #000;
  font-size: 1.4em;
  font-family: "Slabo 13px", serif;
}

nav ul li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  color: #000;
}

nav ul li a:active {
  color: #000;
}

abbr {
  display: inline-block;
  font-style: italic;
}

body {
  background: linear-gradient(-45deg, #000, #555, #000, #555, #000, #555, #000, #98d4ef);
  background-size: 400% 400%;
  -webkit-animation: gradient 45s ease infinite;
          animation: gradient 45s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 100%;
  line-height: 1.5em;
}

.page-wrapper h1 {
  line-height: 1.2em;
}

.page-wrapper h2 {
  line-height: 1.3em;
  font-family: "Poppins", Helvetica, sans-serif;
}

.page-wrapper h3 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  font-family: "Poppins", Helvetica, sans-serif;
}

.page-wrapper .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000;
}

.page-wrapper a a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.page-wrapper a a:visited {
  color: #000;
}

.page-wrapper a a:hover {
  color: #000;
}

.page-wrapper a a:active {
  color: #000;
}

@media only screen and (min-width: 1100px) {
  .page-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.intro {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 25%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.intro header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.intro header h1 {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2em;
  background-color: #000;
  color: #fff;
}

.intro header h2 {
  padding: 25px;
  -webkit-animation: subheading 4.4s infinite alternate;
          animation: subheading 4.4s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes subheading {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}

@keyframes subheading {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}

@media only screen and (min-width: 1100px) {
  .intro header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro .summary {
  padding: 25px;
  -webkit-animation: summary 2.2s infinite alternate;
          animation: summary 2.2s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.intro .summary a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.intro .summary a:visited {
  color: #000;
}

.intro .summary a:hover {
  color: #000;
}

.intro .summary a:active {
  color: #000;
}

@-webkit-keyframes summary {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}

@keyframes summary {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}

.intro .preamble {
  padding: 25px;
  -webkit-animation: preamble 6.6s infinite alternate;
          animation: preamble 6.6s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

@-webkit-keyframes preamble {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}

@keyframes preamble {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}

.main {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 15px;
}

.main .explanation {
  padding: 25px;
  -webkit-animation: explanation 6.6s infinite alternate;
          animation: explanation 6.6s infinite alternate;
}

@-webkit-keyframes explanation {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}

@keyframes explanation {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}

.main .participation {
  padding: 25px;
  -webkit-animation: participation 4.4s infinite alternate;
          animation: participation 4.4s infinite alternate;
}

@-webkit-keyframes participation {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}

@keyframes participation {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}

.main .participation a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.main .participation a:visited {
  color: #000;
}

.main .participation a:hover {
  color: #000;
}

.main .participation a:active {
  color: #000;
}

.main .benefits {
  padding: 25px;
  -webkit-animation: explanation 11s infinite alternate;
          animation: explanation 11s infinite alternate;
}

@keyframes explanation {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}

.main .requirements {
  padding: 25px;
  -webkit-animation: requirements 6.6s infinite alternate;
          animation: requirements 6.6s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes requirements {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}

@keyframes requirements {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}

.main .requirements a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.main .requirements a:visited {
  color: #000;
}

.main .requirements a:hover {
  color: #000;
}

.main .requirements a:active {
  color: #000;
}

.main footer {
  padding: 25px;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main footer a {
  color: #fff;
  font-weight: 500;
}

.sidebar .wrapper {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.sidebar .wrapper .design-selection {
  -webkit-animation: design-selection 6.6s infinite alternate;
          animation: design-selection 6.6s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

@-webkit-keyframes design-selection {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}

@keyframes design-selection {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}

.sidebar .wrapper .design-archives {
  -webkit-animation: summary 2.2s infinite alternate;
          animation: summary 2.2s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  height: 200px;
}

@keyframes summary {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}

.sidebar .wrapper .zen-resources {
  -webkit-animation: zen-resources 2.2s infinite alternate;
          animation: zen-resources 2.2s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes zen-resources {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}

@keyframes zen-resources {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}

.sidebar .wrapper .zen-resources ul li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.sidebar .wrapper .zen-resources ul li a:visited {
  color: #000;
}

.sidebar .wrapper .zen-resources ul li a:hover {
  color: #000;
}

.sidebar .wrapper .zen-resources ul li a:active {
  color: #000;
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  -webkit-animation: steam 20s linear infinite;
          animation: steam 20s linear infinite;
}

@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
