/*! Color Zen Garden */
/* By Lewis, Megan, and Theran */
@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #000;
  font-size: 1.4em;
  font-family: "Slabo 13px", serif;
}

nav ul li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
nav ul li a:visited {
  color: #000;
}
nav ul li a:hover {
  color: #000;
}
nav ul li a:active {
  color: #000;
}

abbr {
  display: inline-block;
  font-style: italic;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: 100%;
  line-height: 1.5em;
}
.page-wrapper h1 {
  line-height: 1.2em;
}
.page-wrapper h2 {
  line-height: 1.3em;
  font-family: "Poppins", Helvetica, sans-serif;
}
.page-wrapper h3 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  font-family: "Poppins", Helvetica, sans-serif;
}
.page-wrapper a a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
.page-wrapper a a:visited {
  color: #000;
}
.page-wrapper a a:hover {
  color: #000;
}
.page-wrapper a a:active {
  color: #000;
}

.intro {
  color: #000;
  display: flex;
  min-width: 25%;
  flex-direction: column;
  gap: 15px;
}
.intro header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.intro header h1 {
  padding: 25px;
  display: flex;
  font-size: 3.2em;
  background-color: #000;
  color: #fff;
}
.intro header h2 {
  padding: 25px;
  animation: subheading 11s infinite alternate;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
}
@keyframes subheading {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}
.intro .summary {
  padding: 25px;
  animation: summary 8.8s infinite alternate;
  display: flex;
  flex-direction: column;
}
.intro .summary a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
.intro .summary a:visited {
  color: #000;
}
.intro .summary a:hover {
  color: #000;
}
.intro .summary a:active {
  color: #000;
}
@keyframes summary {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}
.intro .preamble {
  padding: 25px;
  animation: preamble 6.6s infinite alternate;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
}
@keyframes preamble {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}

.main {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 15px;
}
.main .explanation {
  padding: 25px;
  animation: explanation 4.4s infinite alternate;
}
@keyframes explanation {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}
.main .participation {
  padding: 25px;
  animation: participation 11s infinite alternate;
}
@keyframes participation {
  0% {
    background-color: #a5a3c3;
  }
  50% {
    background-color: #c278cf;
  }
  100% {
    background-color: #d698e6;
  }
}
.main .participation a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
.main .participation a:visited {
  color: #000;
}
.main .participation a:hover {
  color: #000;
}
.main .participation a:active {
  color: #000;
}
.main .benefits {
  padding: 25px;
  animation: explanation 2.2s infinite alternate;
}
@keyframes explanation {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}
.main .requirements {
  padding: 25px;
  animation: requirements 2.2s infinite alternate;
  display: flex;
  flex-direction: column;
}
@keyframes requirements {
  0% {
    background-color: #98ed9a;
  }
  50% {
    background-color: #bddf38;
  }
  100% {
    background-color: #74da28;
  }
}
.main .requirements a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
.main .requirements a:visited {
  color: #000;
}
.main .requirements a:hover {
  color: #000;
}
.main .requirements a:active {
  color: #000;
}
.main footer {
  padding: 25px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
}
.main footer a {
  color: #fff;
  font-weight: 500;
}

.sidebar .wrapper {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar .wrapper .design-selection {
  animation: design-selection 6.6s infinite alternate;
  padding: 25px;
  display: flex;
  flex-direction: column;
  color: #000;
}
@keyframes design-selection {
  0% {
    background-color: #98d4ef;
  }
  50% {
    background-color: #94b4b4;
  }
  100% {
    background-color: #a198ee;
  }
}
.sidebar .wrapper .design-archives {
  animation: summary 2.2s infinite alternate;
  padding: 25px;
  display: flex;
  flex-direction: column;
  color: #000;
  height: 200px;
}
@keyframes summary {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}
.sidebar .wrapper .zen-resources {
  animation: zen-resources 2.2s infinite alternate;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
@keyframes zen-resources {
  0% {
    background-color: #e3e698;
  }
  50% {
    background-color: #e6c258;
  }
  100% {
    background-color: #e69b98;
  }
}
.sidebar .wrapper .zen-resources ul li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}
.sidebar .wrapper .zen-resources ul li a:visited {
  color: #000;
}
.sidebar .wrapper .zen-resources ul li a:hover {
  color: #000;
}
.sidebar .wrapper .zen-resources ul li a:active {
  color: #000;
}

/*# sourceMappingURL=zen.css.map */
