/*! For W5 Style Guide for Color Zen Garden */
/* By Lewis, Megan, and Theran */
@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #000;
  font-size: 1.4em;
  font-family: "Slabo 13px", serif;
}

nav ul li a {
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding: 0;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a:active {
  color: #fff;
}

abbr {
  display: inline-block;
  font-style: italic;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  max-width: 100%;
  line-height: 1.5em;
}

.page-wrapper h1 {
  line-height: 1.2em;
}

.page-wrapper h2 {
  line-height: 1.3em;
  font-family: "Poppins", Helvetica, sans-serif;
}

.page-wrapper h3 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  font-family: "Poppins", Helvetica, sans-serif;
}

.page-wrapper a a {
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding: 0;
}

.page-wrapper a a:visited {
  color: #fff;
}

.page-wrapper a a:hover {
  color: #fff;
}

.page-wrapper a a:active {
  color: #fff;
}

.intro {
  color: #000;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.intro header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.intro header h1 {
  padding: 25px;
  -webkit-animation: heading 1s infinite alternate;
          animation: heading 1s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2em;
  background-color: #E93A37;
}

@-webkit-keyframes heading {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

@keyframes heading {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

.intro header h2 {
  padding: 25px;
  -webkit-animation: subheading 1s infinite alternate;
          animation: subheading 1s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

@-webkit-keyframes subheading {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

@keyframes subheading {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

.intro .summary {
  padding: 25px;
  -webkit-animation: summary 1s infinite alternate;
          animation: summary 1s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: #bbb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bbbbbb;
}

.intro .summary a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.intro .summary a:visited {
  color: #000;
}

.intro .summary a:hover {
  color: #000;
}

.intro .summary a:active {
  color: #000;
}

@-webkit-keyframes summary {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

@keyframes summary {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

.intro .preamble {
  padding: 25px;
  -webkit-animation: preamble 1s infinite alternate;
          animation: preamble 1s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  color: #fff;
}

@-webkit-keyframes preamble {
  from {
    background-color: #98ed9a;
  }
  to {
    background-color: #74da28;
  }
}

@keyframes preamble {
  from {
    background-color: #98ed9a;
  }
  to {
    background-color: #74da28;
  }
}

.main {
  color: #000;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 15px;
}

.main .explanation {
  padding: 25px;
  -webkit-animation: explanation 1s infinite alternate;
          animation: explanation 1s infinite alternate;
  background-color: #fff;
}

@-webkit-keyframes explanation {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

@keyframes explanation {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

.main .participation {
  padding: 25px;
  -webkit-animation: participation 1s infinite alternate;
          animation: participation 1s infinite alternate;
  background-color: #fff;
}

@-webkit-keyframes participation {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

@keyframes participation {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

.main .participation a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.main .participation a:visited {
  color: #000;
}

.main .participation a:hover {
  color: #000;
}

.main .participation a:active {
  color: #000;
}

.main .benefits {
  padding: 25px;
  -webkit-animation: benefits 1s infinite alternate;
          animation: benefits 1s infinite alternate;
  background-color: #FCD91F;
}

@-webkit-keyframes benefits {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

@keyframes benefits {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

.main .requirements {
  padding: 25px;
  -webkit-animation: requirements 1s infinite alternate;
          animation: requirements 1s infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

@-webkit-keyframes requirements {
  from {
    background-color: #98ed9a;
  }
  to {
    background-color: #74da28;
  }
}

@keyframes requirements {
  from {
    background-color: #98ed9a;
  }
  to {
    background-color: #74da28;
  }
}

.main .requirements a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.main .requirements a:visited {
  color: #000;
}

.main .requirements a:hover {
  color: #000;
}

.main .requirements a:active {
  color: #000;
}

.main footer {
  padding: 25px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main footer a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.main footer a:visited {
  color: #000;
}

.main footer a:hover {
  color: #000;
}

.main footer a:active {
  color: #000;
}

.sidebar .wrapper {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.sidebar .wrapper .design-selection {
  -webkit-animation: design-selection 1s infinite alternate;
          animation: design-selection 1s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  color: #fff;
}

@-webkit-keyframes design-selection {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

@keyframes design-selection {
  from {
    background-color: #98d4ef;
  }
  to {
    background-color: #a198ee;
  }
}

.sidebar .wrapper .design-archives {
  -webkit-animation: design-archives 1s infinite alternate;
          animation: design-archives 1s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: #273A86;
  height: 200px;
}

@-webkit-keyframes design-archives {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

@keyframes design-archives {
  from {
    background-color: #a5a3c3;
  }
  to {
    background-color: #d698e6;
  }
}

.sidebar .wrapper .zen-resources {
  -webkit-animation: zen-resources 1s infinite alternate;
          animation: zen-resources 1s infinite alternate;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bbbbbb;
}

@-webkit-keyframes zen-resources {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

@keyframes zen-resources {
  from {
    background-color: #e3e698;
  }
  to {
    background-color: #e69b98;
  }
}

.sidebar .wrapper .zen-resources ul li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding: 0;
}

.sidebar .wrapper .zen-resources ul li a:visited {
  color: #000;
}

.sidebar .wrapper .zen-resources ul li a:hover {
  color: #000;
}

.sidebar .wrapper .zen-resources ul li a:active {
  color: #000;
}
