@import url('https://fonts.googleapis.com/css2?family=Lora&family=Concert+One&family=Poppins&display=swap');

// fonts
$primary-font: 'Lora', serif;
$secondary-font: 'Poppins', Helvetica, sans-serif;
$link-font: 'Concert One', Arial, sans-serif;

